Repository jupyter/notebook, pull requests merged in 2020-07, with the labels that each got.

#5565 Nested shells should not be login (#5247)
  notebook/terminal/__init__.py
Labels: component:Terminal

#5545 Respect cell.is_editable during find-and-replace
  notebook/static/notebook/js/searchandreplace.js
Labels: component:Notebook

#3793 Implement password hashing with bcrypt
  notebook/auth/security.py
  notebook/auth/tests/test_security.py
  setup.py
Labels: status:Waiting for Author

#5052 Add a metadata tag to override notebook direction (ltr/rtl)
  notebook/static/base/js/dialog.js
  notebook/static/notebook/js/actions.js
  notebook/static/notebook/js/notebook.js
  notebook/static/notebook/js/textcell.js
  notebook/static/notebook/less/outputarea.less
  notebook/static/notebook/less/renderedhtml.less
Labels: component:Notebook

#5525 Add keyboard shortcuts to menu dropdowns
  notebook/static/notebook/js/menubar.js
  notebook/static/notebook/js/notebook.js
  notebook/static/notebook/less/menubar.less
Labels: component:Notebook
